* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
    background-color: rgb(34, 32, 32);
    /* background-image: url(math.jpg);
    background-size: 100%; */
}

.calculator {
    border: 1px solid #cccc;
    border-radius: 25px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* background-color: rgb(34, 32, 32); */
    box-shadow: 5px 5px 15px #7b7b7b;
}

.calculator-input {
    width: 100%;
    font-size: 7rem;
    height: 80px;
    border: none;
    background-color: gray;
    color: white;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

button {
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(206, 116, 20);
    background-color: transparent;
    font-size: 3.5rem;
    color: white;
}

button:hover {
    background-color: gray;
}

.operator {
    color: rgb(97, 131, 255);
}

.clear {
    background-color: rgb(206, 116, 20);
}

.clear:hover {
    background-color: rgb(250, 176, 97);
    border-color: rgb(250, 176, 97);
}

.equal-sign {
    background-color: rgb(97, 131, 255);
    color: white;
    border-color: rgb(97, 131, 255);
    border-radius: 35px;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: rgb(140, 165, 255);
    border-color: rgb(140, 165, 255);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}